<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SERVLET_PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ABC</servlet-name>
  	<servlet-class>a.b.c.A</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ABC</servlet-name>
  	<url-pattern>/abc</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>DEF</servlet-name>
  	<servlet-class>a.b.c.B</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DEF</servlet-name>
  	<url-pattern>/def</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>GHI</servlet-name>
  	<servlet-class>a.b.c.C</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GHI</servlet-name>
  	<url-pattern>/ghi</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>JKL</servlet-name>
  	<servlet-class>a.b.d.D</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>JKL</servlet-name>
  	<url-pattern>/jkl</url-pattern>
  </servlet-mapping>
  
</web-app>